
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 20px;
}

p {
    font-weight: 200;
    margin: 10px;
}

.outer-website h1 {
    font-weight: 200;
}

.outer-website .navigation {
    background: #222;

}

.outer-website .navigation li {
    padding: 20px;
    display: inline-block;
}

.outer-website .navigation li.selected a {
    color: #06eeff;
}

.outer-website .navigation li a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}

.outer-website .navigation li a:hover {
    color: #eee;
}

.outer-website .contact {
    margin: 50px;
    font-weight: 200;
}

.outer-website table.products td {
    padding: 30px;
}

.outer-website table.products td h2 {
    font-weight: 200;
}

.outer-website table.products td .price {
    font-size: 30px;
    font-weight: 200;
}

.inner-website  {
    position: relative;
    padding-bottom: 65.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.inner-website iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

